---
---
@import "minima";

// Định nghĩa bộ màu của Yaner
$blue-pastel: #AEDEFC;
$white-cream: #FFF6F6;
$pink-light: #FFDFDF;
$pink-bright: #F875AA;

body {
  background-color: $white-cream; // Nền trắng hồng nhẹ
  font-family: "Quicksand", sans-serif;
  color: #4A4A4A;
}

// Thanh menu phía trên (Header)
.site-header {
  background-color: $blue-pastel;
  border-top: 5px solid $pink-bright;
  border-bottom: 2px solid $pink-light;
}

.site-title, .site-nav .page-link {
  color: #4A4A4A !important;
  font-weight: bold;
}

// Nút và các đường Link
a {
  color: $pink-bright;
  text-decoration: none;
  transition: 0.3s;
  &:hover {
    color: $blue-pastel;
  }
}

// Khung bài viết trang chủ
.post-list li {
  background: white;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  border-left: 10px solid $pink-light;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.05);
}

// Chân trang (Footer)
.site-footer {
  background-color: $pink-light;
  border-top: 1px solid $pink-bright;
}
